:root {
  --White: hsl(0, 0%, 100%);

  --Slate-300: hsl(212, 45%, 89%);
  --Slate-500: hsl(216, 15%, 48%);
  --Slate-900: hsl(218, 44%, 22%);
}




.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

body {
  font-family: "Outfit", sans-serif;
  background-color: var(--Slate-300);
}

main {
      display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card-container {
   
    max-width: 320px;
    height: auto;
    padding: 20px;
    border-radius: 10px;
    background-color: var(--White);

}
.card-content {
  display: flex;
  flex-direction: column;
    justify-content: center;
    align-content: center;
    gap: 20px;
}

img {
    border-radius: 10px;
} 

h1 {
    font-size: 1.5rem;
    text-align: center;
    color: var(--Slate-900);
    font-weight: 800;
}

p {
    
    margin-bottom: 20px;
    font-size: 0.9375rem;
    text-align: center;
    color: var(--Slate-500);
}